.contain { display: flex !important; flex-direction: column !important; }
#component-0, #component-3, #component-10, #component-8  { height: 100% !important; }
#chatbot { flex-grow: 1 !important; overflow: auto !important;}
#col { height: calc(100vh - 250px) !important; }
.upload-button { display: none }